
@import '../baseline/variables';

button, [type="button"] {
  display: inline-block;
  border: none;
  outline: none;	
  border-radius: 0.5rem;
  padding: 0 2rem;
  height: 3rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: var(--h8);
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
}


button, [type="button"] {  
  background: transparent;
}

button:hover, [type="button"]:active {
  background: rgba(117, 177, 253, 0.2);
}

button:active, [type="button"]:active {
  background: rgba(117, 177, 253, 0.5);
  transform: scale(0.99);
}