
// #region Slider ====== //

$height: 2rem;
:root {
  --hue: 36;
}


$red_gradient: linear-gradient(to right, #000000,#ff0000);
$green_gradient: linear-gradient(to right, #000000,#00ff00);
$blue_gradient: linear-gradient(to right, #000000,#0000ff);
$hue_gradient: linear-gradient(to right, #ff0000,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000);

$track_background: #c4c4c4;
$track_background: var(--track_background);
$track_width: 100%;
$track_height: 1rem;

$track_border-width: 0px;
$track_border-style: solid;
$track_border-color: #c4c4c4;
$track_border-radius: 0.5rem;
$track_box-shadow: none;

$track_opacity: 0.7;
$track_opacity_hover: 1;
$track_transition: opacity .2s;
$track_outline: none;
$track_appearance: none;


$thumb_background: #454545;
$thumb_width: 1.5rem;
$thumb_height: 1.5rem;
$thumb_border-width: 0.2rem;
$thumb_border-style: solid;
$thumb_border-color: #bebebe;
$thumb_border-radius: 50%;
$thumb_box-shadow: none;

$thumb_mix-blend-mode: normal;
$thumbAppearnance: none;
$thumb_cursor: pointer;




.slider {
  -webkit-appearance: $track_appearance; 
  appearance: $track_appearance;
  width: $track_width;
  height: $track_height; 
  background: $track_background; 
  outline: $track_outline; 
  opacity: $track_opacity;
  -webkit-transition: $track_transition; 
  transition: $track_transition;
  border-width: $track_border-width;
  border-style: $track_border-style;
  border-color: $track_border-color;
  border-radius: $track_border-radius;
  box-shadow: $track_box-shadow;
  
  &:hover {
    opacity: $track_opacity_hover;
  }
   
  &::-webkit-slider-thumb {
    -webkit-appearance: $thumbAppearnance; 
    appearance: $thumbAppearnance;
    cursor: $thumb_cursor; 


    background: $thumb_background;
    width: $thumb_width; 
    height: $thumb_height;
    border-width: $thumb_border-width;
    border-style: $thumb_border-style;
    border-color: $thumb_border-color;
    border-radius: $thumb_border-radius;
    mix-blend-mode: $thumb_mix-blend-mode;
    box-shadow: $thumb_box-shadow; 
    box-sizing: border-box;
    
  }
  
  &::-moz-range-thumb {    
    cursor: $thumb_cursor; 

    width: $thumb_width; 
    height: $thumb_height;
    border-width: $thumb_border-width;
    border-style: $thumb_border-style;
    border-color: $thumb_border-color;
    border-radius: $thumb_border-radius;
    background: $thumb_background;
    mix-blend-mode: $thumb_mix-blend-mode;
    box-shadow: $thumb_box-shadow; 
    box-sizing: border-box;
  }
}

.red {
  --track_background: linear-gradient(to right, #000000,#ff0000);
}
.green {
  --track_background: linear-gradient(to right, #000000,#00ff00);
}
.blue {
  --track_background: linear-gradient(to right, #000000,#0000ff);
}
.hue {
  --track_background: linear-gradient(to right, #ff0000,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff,#ff0000);
}
.sat {
  --track_background: linear-gradient(to right, hsl(var(--hue), 0%, 50%), hsl(var(--hue), 50%, 50%), hsl(var(--hue), 100%, 50%));
}

.light {
  --track_background: linear-gradient(to right,  hsl(var(--hue), 50%,0%),  hsl(var(--hue), 50%, 50%),  hsl(var(--hue), 50%, 100%));
}
// #endregion Slider === //
